/* =================== Start General stying ================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: sans-serif, "Exo" !important;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

section {
  scroll-padding-top: 2.5rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  background-size: cover;
}

:root {
  --text-heavy-purple: #7f22fe;
  --bg-heavy-purple: #7f22fe;
  --bg-light-purple: #ede9fe;
  --text-heavy-green: #00a63e;
  --bg-light-green: #dbfce7;
  --bg-orange: #e17100;
  --text-blue: #4f39f6;
  --bg-blue: #4f39f6;
  --bg-redish-purple: #9810fa;
  --bg-heavy-yellow: #d08700;
  --bg-light-yellow: #fef9c2;
  --text-red: #e60076;
}
.text-red {
  color: var(--text-red);
}
.bg-red {
  background-color: var(--text-red);
}
.text-light-purple {
  color: #ddd6ed;
}
.bg-heavy-yellow {
  background-color: var(--bg-heavy-yellow);
}
.bg-heavy-yellow:hover {
  background-color: #a65f00;
}
.bg-light-yellow {
  background-color: var(--bg-light-yellow);
}

.text-heavy-yellow {
  color: var(--bg-heavy-yellow);
}

.bg-redish-purple {
  background-color: var(--bg-redish-purple);
}

.text-redish-purple {
  color: var(--bg-redish-purple);
}
.bg-redish-purple:hover {
  background-color: #8200db;
}
.bg-light-green {
  background-color: #dbfce7;
}

.bg-orange {
  background-color: var(--bg-orange);
}
.text-heavy-green {
  color: var(--text-heavy-green);
}

.bg-heavy-green {
  background: var(--text-heavy-green);
}

.bg-heavy-green:hover {
  background-color: #008236;
}
.bg-heavy-purple {
  background-color: #7f22fe !important;
}
.text-heavy-purple {
  color: #7f22fe !important;
}

.text-blue-w-bg {
  color: var(--text-blue);
  background-color: #e0e7ff;
}
.text-purple-w-bg {
  color: var(--bg-heavy-purple);
  background-color: var(--bg-light-purple);
}

.text-blue {
  color: var(--text-blue) !important;
}
.bg-blue {
  background-color: var(--bg-blue) !important;
}

.bg-blue:hover {
  background-color: #432dd7;
}

.bg-light-purple {
  background-color: #ede9fe !important;
}

.font-14 {
  font-size: 14px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-18 {
  font-size: 18px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

::selection {
  background-color: #a684ff;
  color: white;
}
/* =================== End General stying ================*/

/* =================== Start Navbar ================*/
nav > a {
  color: #314158 !important;
}

nav {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: wheat !important;
  width: 100%;
  z-index: 10000;
}

.navbar .dropdown {
  position: static;
}

/* dropdown */

.villa-image {
  width: 80px;
}

.modern-apartment:hover,
.villa-propery:hover {
  background-color: #f9fafb;
}

.icon-gray {
  color: #99a1af !important;
}
.locations img {
  background-size: cover !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  display: block !important;
}
.location-card {
  height: 90px;
}

.card-caption {
  background: linear-gradient(135deg, rgba(65, 35, 110, 0.45) 0%, rgba(30, 15, 60, 0.6) 100%);
  /* mix-blend-mode: multiply; */
}

.card-caption:hover {
  background: linear-gradient(135deg, rgba(50, 25, 90, 0.65) 0%, rgba(20, 10, 45, 0.8) 100%);
}
/* ------------------------------------------ */
.buying-card {
  transition: transform 1s ease;
  border: 1px solid var(--bg-light-purple);
}
.buying-card .fa-arrow-right {
  display: inline-block;
  transition: transform 0.3s ease !important;
}
.buying-card:hover {
  border: 1px solid #f1eefe;

  h5 {
    color: var(--text-heavy-purple);
  }

  .fa-arrow-right {
    transform: translateX(5px);
  }
  &::after {
    background-color: #e2dafc;
  }
}

.buying-card::after {
  content: "";
  height: 200px;
  width: 200px;
  background-color: #ebe5fd;
  position: absolute;
  border-radius: 50%;
  top: -70%;
  right: -40%;
  transition: background-color 0.3s ease;
}
/* ------------------------ */

.invesment-tip {
  border: 1px solid var(--bg-light-purple);
  transition: border-color 0.3s ease;
}
.invesment-tip .fa-arrow-right {
  display: inline-block;
  transition: transform 0.3s ease !important;
}

.invesment-tip:hover {
  border: 1px solid #f1eefe;

  h5 {
    color: var(--text-heavy-green);
  }

  .fa-arrow-right {
    transform: translateX(5px);
  }
  &::after {
    background-color: #edfdf2;
  }
}

.invesment-tip::after {
  content: "";
  height: 200px;
  width: 200px;
  background-color: #f4fef7;
  position: absolute;
  border-radius: 50%;
  top: -70%;
  right: -40%;
  transition: background-color 0.3s ease;
}

/* ---------------------- */
.market {
  transition: transform 1s ease;
  border: 1px solid var(--bg-light-purple);
}

.market .fa-arrow-right {
  display: inline-block;
  transition: transform 0.3s ease !important;
}
.invesment-tip .fa-arrow-right {
  display: inline-block;
  transition: transform 0.3s ease !important;
}

.market:hover {
  border: 1px solid #f1eefe;

  h5 {
    color: #9710f9;
  }

  .fa-arrow-right {
    transform: translateX(5px);
  }
  &::after {
    background-color: #f9f4ff;
  }
}

.market-bg {
  background-color: #f3e8ff;
  color: #9810fa;
}
.market::after {
  content: "";
  height: 200px;
  width: 200px;
  background-color: #fcfaff;
  position: absolute;
  border-radius: 50%;
  top: -70%;
  right: -40%;
  transition: transform 0.3s ease !important;
}

.navbar {
  position: relative;
}

.navbar .dropdown-menu {
  padding-left: 1rem;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 85vw;
  margin-top: 0;
  border: none !important;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.active-effect {
  color: var(--text-heavy-purple) !important;
  /* border-bottom: 2px solid var(--text-heavy-purple) !important; */
}

nav ul li a {
  position: relative;
  display: inline-block;
}

nav ul li a::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: -5px;
  height: 2.5px;
  background-color: var(--bg-heavy-purple);
  left: 0;
  transition: width 0.5s ease;
}

nav ul li a:hover::before,
.active-effect::before {
  width: 100%;
}
/* =================== End Navbar ================*/

/* ================= Start hero section ================= */
.hero-section {
  background-image: linear-gradient(rgba(99, 34, 150, 0.85), rgba(99, 34, 150, 0.85)), url(../Elite_Homes_Images/hero-bg-img.png);
  height: fit-content;
  background-repeat: no-repeat;
  /* width: 100vw; */
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

h1 {
  font-weight: 700;
  font-size: 3.75rem;
}

.hero-section form {
  width: 60%;
  background-color: white;
  margin: auto;
}

.company-statistics {
  width: 100%;
}

.container-60 {
  max-width: 60% !important;
}
.container-80 {
  max-width: 80% !important;
}

.figuers-style {
  font-size: 30px;
  font-weight: 700;
}

.input-wrapper {
  position: relative;
  display: block;
}

.input-wrapper i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0.93rem;
  font-size: 1rem;
  color: #6c757d;
  z-index: 2;
}
.input-wrapper input {
  padding-left: 45px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input-wrapper input::placeholder {
  color: #6c757d;
  font-size: 14px;
}
.hide-arrow {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.form-control,
.form-select {
  border: 1px solid #ced4da !important;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.form-select:focus,
.form-control:focus {
  outline: none !important;
  border-color: var(--bg-heavy-purple) !important;
  box-shadow:
    0 0 0 2px #ffffff,
    0 0 0 4px var(--bg-heavy-purple) !important;
}

.btn-purple {
  width: 97%;
  margin: auto;
  border: 1px solid #ced4da !important;
  color: white;
  background: radial-gradient(circle, #9415fb, #8022fe);
}

.btn-purple:hover {
  background: radial-gradient(circle, #7a0fd0 0%, #6415d9 100%);
}
.btn-purple-no-width {
  border: 1px solid #ced4da !important;
  color: white;
  background: radial-gradient(circle, #9415fb, #8022fe);
}

.btn-purple-no-width:hover {
  background: radial-gradient(circle, #7a0fd0 0%, #6415d9 100%);
}

/* ================= End hero section ================= */

/* ================= Start Featured Properties section ================= */
.rounded-pill-style {
  width: fit-content;
  color: var(--text-heavy-purple);
  background-color: #f9f5ff;
  border: 1px solid #d8b4fe !important;
  box-shadow: 0 2px 6px rgba(111, 66, 193, 0.04) !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rounded-pill-wrapper::before {
  content: "";
  height: 2px;
  width: 70px;
  background: linear-gradient(to right, transparent, var(--bg-heavy-purple));
  position: static;
}

.rounded-pill-wrapper::after {
  content: "";
  height: 2px;
  width: 70px;
  background: linear-gradient(to left, transparent, var(--bg-heavy-purple));
  position: static;
}

.gradient-header {
  /* background: linear-gradient(90deg, #8022fe 0%, #9415fb 35%, #f89800 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; */

  background: linear-gradient(90deg, #8022fe 0%, #9415fb 30%, #9415fb 50%, #f89800 70%, #f89800 100%);

  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 3rem;
  font-weight: 900;
}

.bg-section {
  background-color: #f9fafb;
}

.card-image img {
  transition: transform 0.5s;
}
.card-image {
  height: 250px;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.name .image {
  width: 35px;
  height: 35px;
}

.card-image img:hover {
  transform: scale(1.2);
}

.heart-icon {
  color: #4a5565;
  background-color: #e9ecef;
  font-size: 15px !important;
}

.heart-icon:hover {
  color: red !important;
}

.pill-black {
  background-color: #013540;
}

.tour {
  background-color: #ede9fe;
  transition: background-color 0.3s;
}

.tour:hover {
  background-color: #ddd6ff;
}

.old-price {
  text-decoration: line-through;
}

.featrures-section button {
  width: fit-content !important;
  margin: auto;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--text-heavy-purple) !important;
  background-color: #f5f3ff !important;
  border-bottom: 2px solid var(--bg-heavy-purple) !important;
}

.our-services .nav-item button {
  border: none;
  border-radius: 0;
}

.img-wrapper {
  position: relative;
  border-radius: 28px;
  overflow: hidden;
}

.img-wrapper img {
  max-width: 550px;
  max-height: 400px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.commercial-vol {
  background-color: white !important;
  position: absolute;
  left: -5% !important;
  bottom: -1.5rem !important;
  /* overflow: visible; */
  padding: 20px !important;
  border-radius: 12px;
}

.blue-btn:hover {
  background-color: #432dd7 !important;
}
.right-postion-icon {
  background-color: white !important;
  position: absolute;
  right: -5%;
  bottom: 5%;
  /* overflow: visible; */
  padding: 20px !important;
}
.img-wrapper-bigger {
  height: 100% !important;
  width: 100% !important;
  border-radius: 28px;
  overflow: hidden;
}
.img-wrapper-bigger img {
  width: 100%;
  height: 100% !important;
  object-fit: cover !important;
  display: block;
}

.our-services button {
  border: none !important;
}
/* ================= End Featured Properties section ================= */

/* ================= Start Reviws Section ================= */
.bg-purple-color-section {
  background: radial-gradient(circle, #531792 0%, #511794 50%, #4d179a 100%);
}

.rounded-pill-yellow {
  width: fit-content;
  color: var(--text-heavy-purple);
  background-color: #f9f5ff;
  border: 1px solid #d8b4fe !important;
  box-shadow: 0 2px 6px rgba(111, 66, 193, 0.04) !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rounded-pill-wrapper-yw::before {
  content: "";
  height: 2.5px;
  width: 70px;
  background: linear-gradient(to right, transparent, #fd9900);
  position: static;
}

.rounded-pill-wrapper-yw::after {
  content: "";
  height: 2.5px;
  width: 70px;
  background: linear-gradient(to left, transparent, #fd9900);
  position: static;
}

/* caresoul */

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: #7a45a4 !important;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);

  opacity: 1;
}

#carouselExampleIndicators .carousel-control-prev {
  transform: translateX(5rem);
}
#carouselExampleIndicators .carousel-control-next {
  transform: translateX(-5rem);
}

#carouselExampleIndicators .carousel-control-prev-icon,
#carouselExampleIndicators .carousel-control-next-icon {
  width: 20px;
  height: 20px;
}

#carouselExampleIndicators .carousel-control-prev {
  left: 15px;
}

#carouselExampleIndicators .carousel-control-next {
  right: 15px;
}

.carousel-indicators button {
  width: 12px !important;
  height: 12px !important;
}

.owners-details .owner-img {
  height: 70px !important;
  width: 70px !important;
}
.Stars {
  color: #ffb900;
}

.carousel-item > div {
  width: 95%;
  margin-inline: auto;
}

.carousel-indicators {
  transform: translateY(3rem);
}

.testimonial-card {
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ================= End Reviws Section ================= */

/* ================= Start faq Section ================= */

.purple-grad-header {
  background: linear-gradient(to right, #7f21fd 0%, #970ff9 100%);
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.bg-purple-grad {
  background: linear-gradient(to right, #4d179a 0%, #59168b 100%);
}

.accordion-button:not(.collapsed) {
  color: black !important;
  background-color: white !important;
  box-shadow: none !important ;
}

.accordion-button:focus {
  box-shadow: none !important;
}
/* ================= End faq Section ================= */

/* ================= Start contact us  Section ================= */
.card span {
  width: fit-content;
}

.card {
  transition:
    transform 0.3s,
    border 0.3s !important;
}

.card span {
  width: fit-content;
  transition: transform 0.3s;
  padding-inline: 1.1rem !important;
}
.card:hover span {
  transform: scale(1.1);
}

.icon-effect-purple:hover {
  transform: translateY(-5%);
  border: 1px solid var(--bg-heavy-purple);
}

.icon-effect-redish-purple:hover {
  transform: translateY(-5%);
  border: 1px solid var(--bg-redish-purple);
}
.icon-effect-red:hover {
  transform: translateY(-5%);
  border: 1px solid #e60076;
}
.icon-effect-blue:hover {
  transform: translateY(-5%);
  border: 1px solid var(--bg-blue);
}

.icon-gradient {
  background: linear-gradient(to bottom right, #e44de4 0%, #f9933f 100%);
}

.contact::before {
  content: "";
  top: -12rem;
  right: -10rem;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  background-color: #f5f3fe;
  z-index: -1;
}

.contact::after {
  content: "";
  top: 5rem;
  right: 6rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  border: 5px solid #ddd6ff;
}

.bg-contact-info {
  background-color: #f6f7f9;
}

.purple-grad-purple {
  background: linear-gradient(to bottom right, #8022fe 0%, #9711fa 100%);
}

.social-media-bg {
  background-color: #a745fc;
  transition: transform 0.3s;
}

.social-media-bg:hover {
  background-color: #ae60fd;
  transform: scale(1.1);
}

textarea {
  resize: none;
  height: 150px;
}

#market-msg {
  width: 20px;
  height: 20px;
}

.inner-input-bg {
  background-color: #f9fafb;
}

.text-red-span {
  color: red;
  transform: scale(2);
}

.contact form button {
  transition: transform 0.3s;
}
.contact form button:hover {
  transform: translateY(-10%);
}

footer {
  overflow-x: hidden;
}
.contact form::before {
  content: "";
  bottom: -14rem;
  left: -10rem;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  position: absolute;
  background-color: #f5f3fe;
  z-index: -1;
}

.contact form::after {
  content: "";
  bottom: 2rem;
  left: 8rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  border: 5px solid #ddd6ff;
}

.made-with_love p {
  padding-block: 20px;
  border-top: 2px solid #5c29a0;
}

/* ================= End contact us Section ================= */
