/* sm */
@media (max-width: 576px) {
}

/* md */
@media (max-width: 768px) {
  .hero-section form {
    width: 90% !important;
  }
}

@media (min-width: 992px) {
  .dispaly-2-lg {
    width: 25% !important;
  }
}

/* lg */
@media (max-width: 992px) {
  .location-card {
    width: 32% !important;
  }
  nav ul li a:hover::before,
  .active-effect::before {
    display: none;
  }
}
/* xl */
@media (max-width: 1200px) {
}

/* xxl */
@media (max-width: 1400px) {
}
