/* sm */
@media (max-width: 576px) {
}

/* md */
@media (max-width: 768px) {
  .hero-section form {
    width: 95% !important;
  }
  .company-statistics {
    width: 100%;
  }

  h1 {
    font-size: 48px !important;
  }
  h2 {
    font-size: 30px !important;
  }

  header p {
    font-size: 8px !important;
  }
}

@media (min-width: 992px) {
  .dispaly-2-lg {
    width: 25% !important;
  }
  .carousel-item > div {
    width: 60% !important;
  }

  .accordion {
    width: 65% !important;
  }
}

/* lg */
@media (max-width: 992px) {
  .location-card {
    width: 32% !important;
  }
  nav ul li a:hover::before,
  .active-effect::before,
  .contact form::after,
  .contact form::before {
    display: none;
  }

  .hero-section form {
    width: 85% !important;
  }

  #carouselExampleIndicators .carousel-control-prev {
    display: none;
  }
  #carouselExampleIndicators .carousel-control-next {
    display: none;
  }
  .img-wrapper-bigger {
    height: 400px;
  }

  .img-wrapper-bigger img {
    height: 100%;
    object-fit: cover;
  }

  .commercial-vol {
    left: 5%;
    bottom: 5%;
    padding: 14px !important;
  }

  .commercial-vol .fs-4 {
    font-size: 1.5rem !important;
  }

  .commercial-vol .font-12px {
    font-size: 16px;
  }

  .accordion {
    width: 90% !important;
  }

  .contact::after,
  .contact::before {
    display: none;
  }

  .navbar .dropdown-menu {
    width: 100vw !important;
    left: 10%;
    right: 5%;
    top: -100%;
    padding: 0;
    transform: translateY(500%);
    position: absolute;
    z-index: 100000000000;
    overflow-y: auto;
    max-height: 90vh;
    /* Visual Styling */
    margin-top: -18rem !important;
    padding: 1rem 0 !important;
    border: none !important;
    border-radius: 0 0 20px 20px !important;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15) !important;
    background-color: #ffffff !important;
    z-index: 100000000000 !important;
  }

  .nav-link {
    padding: 10px !important;
    border-radius: 10px !important;
    row-gap: 5px !important;
  }
  .nav-link:hover {
    color: var(--text-heavy-purple) !important;
    background-color: var(--bg-light-purple) !important;
  }

  .navbar-toggler {
    border: none !important;
  }

  .navbar-toggler:focus {
    border: none !important;
    box-shadow: none !important;
    outline: 0 !important;
    display: none;
  }
  .navbar-toggler {
    border-color: rgba(127, 34, 254, 0.3) !important;
    transition: all 0.3s ease;
  }

  .navbar-toggler:hover {
    border-color: var(--bg-heavy-purple) !important;
  }
  navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%237f22fe' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23314158' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  .navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%237f22fe' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M6 6l18 18M6 24L24 6'/%3e%3c/svg%3e") !important;
  }
}

/* xl */
@media (max-width: 1200px) {
}

/* xxl */
@media (max-width: 1400px) {
}
