/* sm */
@media (max-width: 576px) {
}

/* md */
@media (max-width: 768px) {
  .hero-section form {
    width: 95% !important;
  }
  .company-statistics {
    width: 100%;
  }

  h1 {
    font-size: 48px !important;
  }
  h2 {
    font-size: 30px !important;
  }

  header p {
    font-size: 8px !important;
  }
}

@media (min-width: 992px) {
  .dispaly-2-lg {
    width: 25% !important;
  }
  .carousel-item > div {
    width: 60% !important;
  }

  .accordion {
    width: 65% !important;
  }
}

/* lg */
@media (max-width: 992px) {
  .location-card {
    width: 32% !important;
  }
  nav ul li a:hover::before,
  .active-effect::before,
  .contact form::after,
  .contact form::before {
    display: none;
  }

  .hero-section form {
    width: 85% !important;
  }

  #carouselExampleIndicators .carousel-control-prev {
    display: none;
  }
  #carouselExampleIndicators .carousel-control-next {
    display: none;
  }
  .img-wrapper-bigger {
    height: 400px;
  }

  .img-wrapper-bigger img {
    height: 100%;
    object-fit: cover;
  }

  .commercial-vol {
    left: 5%;
    bottom: 5%;
    padding: 14px !important;
  }

  .commercial-vol .fs-4 {
    font-size: 1.5rem !important;
  }

  .commercial-vol .font-12px {
    font-size: 16px;
  }

  .accordion {
    width: 90% !important;
  }

  .contact::after,
  .contact::before {
    display: none;
  }
}

/* xl */
@media (max-width: 1200px) {
}

/* xxl */
@media (max-width: 1400px) {
}
